
.container{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: red;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadrado{
    position: relative;
    background-color: blue;
    width: 150px;
    height: 100px;
    display: flex;
}

h1{
    margin: auto;
    color: white;
    font-size: 70px;
}
    