*{
margin: 0;
padding: 0;
}
.p{
    font-size: 50px;
    text-align: center;
}
.container{
text-align: center;}

button{
    padding: 20px;
}

:root {
    --cor1:black;
}

header{
    background: red;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    padding: 10px;
    display: grid;
}

.menu{
    display: flex;
    gap: 10px;
    list-style: none;
}
.btn-mobile{
    display:none;
}
@media(max-width:600px){
  .btn-mobile{
    display: block;
  }
 header{background: green;}

 .menu {
    position: absolute;
    display: block;
    top: 70px;
    left: 0;
    width: 0;
    overflow: hidden;
    background: red;
    transition:.9s;
 }

 .active .menu {
    overflow: visible;
    width: 100%;
 }

}